/bin/
/Observations.txt
/src/org/processmining/prefiximputation/archive/ddd.java
/src/org/processmining/prefiximputation/archive/HelloWorld.java
/src/org/processmining/prefiximputation/archive/HelloWorld2.java
/src/org/processmining/prefiximputation/archive/HelloWorld3.java
/src/org/processmining/prefiximputation/archive/HelloWorld4.java
/src/org/processmining/prefiximputation/archive/HelloWorld5.java
/src/org/processmining/prefiximputation/archive/HelloWorld6.java
/src/org/processmining/prefiximputation/archive/HelloWorld7.java
/src/org/processmining/prefiximputation/archive/HelloWorld8.java
/src/org/processmining/prefiximputation/archive/HelloWorld9.java
/src/org/processmining/prefiximputation/archive/HelloWorld10.java
/src/org/processmining/prefiximputation/archive/HelloWorld11.java
/src/org/processmining/prefiximputation/archive/RashidTests.java
